.container {
    width: 575px;
    height: 825px;
  
    background-color: lightblue;
    padding-left: 30px;
  }
  #height,
  #weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid black;

  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
    
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(5, 5, 4);
  }
  
  button {
    width: 165px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: green;
    text-decoration: none;
    border: 3px solid greenyellow;

    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }